.popup__content {
    display: flex;
    position: relative;
    min-width: 430px;
    max-height: 330px;
    margin: 195px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
    .popup__content {
        min-width: 282px;
        max-height: 322px;
        margin: 123px auto;
    }
}