.wanderer__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 424px) {
    .wanderer__subtitle {
        font-size: 14px;
        text-align: center;
        margin-top: 14px;
    }
}